

        <h3>Products</h3>
<div  class="card" style="width: 12rem;float:left;margin: 10px">
    <div class="card-header">
        Xiomi Redmi
    </div>
    <img src="https://images-na.ssl-images-amazon.com/images/I/41bzS%2BL28yL.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5>R$ 500,00</h5>
        <a href="/cart/add/1" class="btn btn-primary">Add to Cart</a>
    </div>
</div>


<div  class="card" style="width: 12rem;float:left;margin: 10px">
        <div class="card-header">
                Motorola One Vision
        </div>
        <img src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/15241826/1110790737/smartphone-motorola-one-vision-xt1970-1-bronze-128gb-4gb-ram-tela-de-6-3-camera-traseira-dupla-octa-core-leitor-digital-android-9-0-15241826.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>R$ 1.649,00</h5>
            <a href="/cart/add/2" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>

    <div  class="card" style="width: 12rem;float:left;margin: 10px">
            <div class="card-header">
                     Motorola Moto G7  
            </div>
            <img src="https://www.casasbahia-imagens.com.br/TelefoneseCelulares/Smartphones/Android/14536940/1079669248/smartphone-motorola-moto-g7-play-ouro-xt1952-32gb-tela-de-57-2gb-de-ram-dual-chip-android-9-0-camera-13mp-e-processador-octa-core-14536940.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>R$ 849,00</h5>
                <a href="/cart/add/3" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    
<div style="clear: both"></div>



